{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/bot_place.css' %}">
{% endblock styles %}

{% block main %}

<header>

    <menu class="bot_place_menu">

        <li class="bot_place_menu_left">
            <a class="bot_place_menu_link" href="{% url 'choosing-bot-for' %}">Create Bot</a>
        </li>

        <li class="bot_place_menu_center">
            <h1 class="bot_place_title">
                Bot Place
            </h1>
        </li>

        <li class="bot_place_menu_right">
            <a class="bot_place_menu_link" href="{% url 'sign-out-Bot-Place' %}">Sign out</a>
        </li>

    </menu>

</header>

<main>

    <div class="bot_list_box">

        <ul id="existing_bot_list" class="existing_bots_list">


            <!--        <li class="existing_bot vk_bot">-->
            <!--            <div class="existing_bot_logo">-->
            <!--                <i class="fab fa-vk"></i>-->
            <!--            </div>-->
            <!--            <h2 class="exiting_vk_bot_title">{{ bot.bot_name }}</h2>-->
            <!--            <ul class="exiting_bot_bar">-->
            <!--                <li class="exiting_bot_bar_item"><button class="exiting_bot_bar_btn exiting_vk_bot_bar_btn exiting_bot_bar_settings"><i class="fas fa-cog"></i></button></li>-->
            <!--            </ul>-->
            <!--        </li>-->

            <li class="existing_bot"></li>
            <li class="existing_bot"></li>
            <li class="existing_bot"></li>


        </ul>

    </div>

    <div id="bot_panel" class="bot_panel">

        <header class="bot_panel_head">
            <h2 id="bot_panel_title" class="bot_panel_title">Bot name</h2>
        </header>

        <main id="bot_panel_body" class="bot_panel_body">

            <div class="bot_panel_section"></div>
            <div class="bot_panel_section"></div>
            <div class="bot_panel_section"></div>

            <!--            <form class="settings_bot_form">-->

            <!--                <input placeholder="Bot name" name="bot_name" type="text" class="settings_bot_field">-->
            <!--                <input placeholder="Application id" name="bot_id" type="text" class="settings_bot_field">-->
            <!--                <input placeholder="Protection key" name="protection_key" type="text" class="settings_bot_field">-->
            <!--                <input placeholder="Services key of accessing" name="services_key_accessing" type="text" class="settings_bot_field">-->

            <!--                <button type="submit" class="setting_bot_update_btn">Update</button>-->

            <!--            </form>-->

        </main>

    </div>

</main>

{% endblock main %}

{% block scripts %}

<script type="module" src="{% static 'js/bot_place.js' %}"></script>
{% endblock scripts %}