{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/bot_place.css' %}">
{% endblock styles %}

{% block main %}

<header>

    <menu class="bot_place_menu">

        <li class="bot_place_menu_left">
            <a class="bot_place_menu_link" href="{% url 'choosing-bot-for' %}">Create Bot</a>
        </li>

        <li class="bot_place_menu_center">
            <h1 class="bot_place_title">
                Bot Place
            </h1>
        </li>

        <li class="bot_place_menu_right">
            <a class="bot_place_menu_link" href="{% url 'sign-out-Bot-Place' %}">Sign out</a>
        </li>

    </menu>

</header>

<main>

    <ul id="existing_bot_list"class="existing_bots_list">


<!--        <li class="existing_bot vk_bot">-->
<!--            <div class="existing_bot_logo">-->
<!--                <i class="fab fa-vk"></i>-->
<!--            </div>-->
<!--            <h2 class="exiting_vk_bot_title">{{ bot.bot_name }}</h2>-->
<!--            <ul class="exiting_bot_bar">-->
<!--                <li class="exiting_bot_bar_item"><button class="exiting_bot_bar_btn exiting_vk_bot_bar_btn exiting_bot_bar_settings"><i class="fas fa-cog"></i></button></li>-->
<!--            </ul>-->
<!--        </li>-->


    </ul>

    <div class="bot_panel">

        

    </div>

</main>

{% endblock main %}

{% block scripts %}

<script type="module" src="{% static 'js/bot_place.js' %}"></script>
{% endblock scripts %}