html, body, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

ul, menu {
    padding: 0;
    margin: 0;

    list-style: none;
}

a {
    text-decoration: none;
}

input, button {
    outline: none;

    font-family: 'Montserrat Alternates', sans-serif;
}

button {
    cursor: pointer;
}